doctype html
html(class="no-js", lang="en", ng-app="#{angularApp}") 
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="stylesheets/foundation.css")
    link(rel='stylesheet', href='stylesheets/googleMaps.css')
    script(src="js/modernizr.js")
    script(src="js/angular/angular.js")
    script(src="js/angular/angular-resource.min.js")
    script(src="js/angular/angular-route.js")
    script(src="js/rit2app.js")
    script(src="js/controllersrit2app.js")
    script(src="/socket.io/socket.io.js")
    script(src="js/angular/socket.js")

    
    
  body  
    div(class="row")
      div(class="medium-12 columns")
        p: img(src="img/header.png")            
      div(class="medium-12 columns")
        block content
    footer(class="row")
      div(class="medium-12 columns")
        p © DEE - FCT/UNL        
    script(src="js/jquery.js")
    script(src="js/foundation.min.js")  
    script(src="//maps.googleapis.com/maps/api/js?sensor=false")   
    script(src="//dylanfprice.github.io/angular-gm/1.0.0/angular-gm.min.js")
    script $(document).foundation();
