<div>
	<nav data-topbar class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="#/SeeYouHere">RIT II {{view}}</a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span>
			</a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a ng-click="logout()">Logout</a></li>
			</ul>
		</section>
	</nav>
	<div>
		<div class="panel">
			<div class="row">
				<div class="medium-4 columns">
					<table>
						<thead>
							<th>{{UserName}} click in a user to start a SeeYouHere
								session</th>
						</thead>
						<tbody>
							<tr ng-repeat="user in users">
								<td ng-click="talkto(user)">{{user}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="medium-6 columns">
					<div class="panel" style="height: 200px; overflow: auto;">
						<p ng-repeat="message in messages">
							{{message.user}}:{{message.text}}</p>
					</div>
					<div ng-show="showchat">
						<form ng-submit="sendMessage()">
							<label>SeeYouHere session with {{talkingto}} <input
								ng-model="message" /> <input type="submit" , value="Send" />
							</label>
						</form>
						<a ng-click="closeConnection()">Close</a>
					</div>
				</div>
			</div>
			<div class="row">
				<gm-map gm-map-id="'simpleMap'" gm-center="center" gm-zoom="zoom"
					class="map"> <gm-markers gm-objects="myMarkers"
					gm-id="object.id"
					gm-position="{lat: object.pos.lat, lng: object.pos.lng}"
					gm-marker-options="getMarkerOptions(object)"> </gm-markers> </gm-map>

			</div>
		</div>
	</div>

</div>
