<div>
	<nav data-topbar class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="/">RIT II {{view}}</a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span>
			</a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="#/register">Register</a></li>
			</ul>
		</section>
	</nav>
	<div>
		<div class="panel">
			<form>
				<div class="row">
					<div class="medium-4 small-centered columns">
						<label>User Name <input ng-model="user.username"
							type="text" name="user" placeholder="Username" />
						</label> <label>Password <input ng-model="user.password"
							type="password" name="pass" placeholder="Password" />
						</label>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="medium-4 small-centered columns">
					<a class="button [tiny small large]" ng-click="submit()">sign
						in</a> <a class="button [tiny small large]" href="#/register">New?
						Register Here</a>
					<div ng-show="isError" data-alert class="alert-box warning round">
						{{error}} <a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
